{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog{% block title %}{% endblock %}</title><!--برای متغییر بودن تایتل هر صفحه-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head %}

    {% endblock %} <!-- برای جاگزاشتن فایل های پسر که بتوانند تگ های دیگر رو به کار بزارن-->
</head>
<body dir="ltr">
    {% include 'partials/header.html' %}
    {% include 'partials/navigations.html' %}
    {% block content %} {% endblock %}
    {% include 'partials/footer.html' %}

</body>
</html>