{% extends 'parent/base.html' %}
{% block title %}post detail{% endblock %}

{% block content %}
    <h1>post details</h1>
    <h2>{{ post.title }} by {{post.author}}</h2>
    <p>{{ post.description | linebreaks  }}</p>
    <hr>
    <div>
        {%with comments.count as cm_co%}
            {{cm_co}} comment{{cm_co|pluralize}}      
        {% endwith %}
    </div>

    <div>
        {% for cm in comments %}
            {{cm.body|linebreaks}}
            <br>
            {{cm.name}}
        {% empty %} 
            کامنتی وجود ندارد...  
        {% endfor %}
    </div>
    

    <p>{{ post.publish }}</p>
    <form method="post" action="{% url 'blog:post_comment' post.id%}">
        {% csrf_token%}
        {{form.as_p}}
        <button type="submit">ارسال ت</button>
    </form>
{% endblock %}