{% extends 'parent/base.html' %}
{% block title %} post list {% endblock %}
{% block content %}
    <h1>post list</h1>
<!-- <ol style="--length: {{posts.count}}" role="list"> -->
    <ol style="--length: {{posts|length}}" role="list">
    {% for post in posts %}
    <li style="--i: {{forloop.counter}}">
        <img src="{{ post.images.first.image_file.url }}" alt="{{post.images.first.title  }}" style="weidh:400px;">
        <h3> <a href="{{post.get_absolute_url}}"> {{ post.title }} </a> </h3>

        <p>{{post.description | truncatewords:5 }}</p>

    </li>
{% endfor %}
</ol>
{%include "partials/paginations.html" with page=page_obj %}
<hr>
{% endblock %}